<%- include('../includes/head.ejs') %>
  <link rel="stylesheet" href="css/searchbus.css">
<body>
  <%- include('../includes/nav.ejs') %>
  <header class="masthead text-black text-center">
    <div class="overlay"></div>
    <div class="container">
        <div class="row">
            <div class="col-md-10 col-lg-8 col-xl-7 mx-auto">
                <form action="/getBusesForRoute" method="POST">
                    <div class="form-row">
                        <div class="col-12 col-md-4 mb-2 mb-md-0"><input class="form-control form-control-lg" type="text" name="from" placeholder="From"/> </div>
                        <div class="col-12 col-md-4 mb-2 mb-md-0"><input class="form-control form-control-lg" type="text" name="to" placeholder="To" /> </div>
                        <div class="col-12 col-md-4"><button class="btn btn-block btn-lg btn-primary" type="submit">Search</button></div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</header>

<ul class="d-flex row justify-content-around no-bullets bus-cards">
    <% buses.forEach(bus => { %>
        <li class="p-3 mb-5 bg-white rounded col col-xl-3 col-lg-5 col-md-5 col-sm-8 col-10 mx-3">
            <h5 style="text-align: center;"><%=bus.name%></h5>
            <hr>
            <h5 style="text-align: center;"><%=bus.number%></h5>
            <hr>
            <div class="d-flex justify-content-between">
               <h5>Available seats</h5>
               <h5><%=bus.available%></h5>
            </div>
            <hr>
            <div class="d-flex justify-content-between">
              <h5>Timing</h5>
              <h5><%=bus.timing%></h5>
            </div>
            <hr>
            <div class="d-flex justify-content-between">
                <h5>Price</h5>
                <h5><%=bus.cost%></h5>
            </div>
            <hr>
        <%if(isAuthenticated){%>
            <input type="hidden" class="input-number" value="<%=bus.number %>" >
            <input type="hidden" class="input-cost" value="<%=bus.cost %>" >
            <button class="btn">Book the bus</button>
        <%}%>
        </li>
        <!-- <li class="bus-cards p-3 mb-5 inner-list rounded col col-xl-3 col-lg-5 col-md-5 col-sm-8 col-10 mx-3">
            <h5 style="text-align: center;"><%=bus.name%></h5>
            <hr>
            <h5 style="text-align: center;"><%=bus.number%></h5>
            <hr>
            <div class="d-flex justify-content-between">
               <h5>Available seats</h5>
               <h5><%=bus.available%></h5>
            </div>
            <hr>
            <div class="d-flex justify-content-between">
              <h5>Timing</h5>
              <h5>6:00 P.M.</h5>
            </div>
            <hr>
            <div class="d-flex justify-content-between">
                <h5>Price</h5>
                <h5><%=bus.cost%></h5>
            </div>
            <hr>
            <button class="btn">Book the bus</button>
            <input type="hidden" class="input-number" value="<%=bus.number %>" >
            <input type="hidden" class="input-cost" value="<%=bus.cost %>" >
        </li> -->
    <%})%>
    <!-- <li class="p-3 mb-5 bg-white rounded col col-xl-3 col-lg-5 col-md-5 col-sm-8 col-10 mx-3">
        <h4 style="text-align: center;">Name of bus</h4>
        <hr>
        <div class="d-flex justify-content-between">
        <h4>Available seats</h4>
        <h4>8</h4>
        </div>
        <hr>
        <div class="d-flex justify-content-between">
            <h4>Price</h4>
            <h4>300</h4>
        </div>
        <hr>
        <button class="btn">Book the bus</button>
    </li> -->
</ul>
<script src="js/razorpay.js"></script>
</body>